@import '../../styles.scss';
mat-card{
  width: 70%;
  height:700px;
  // background-color: #fff8c4;

  margin-top: 40px;

}
// .img1{

//   height: 168px;
//   width: 350px;
// }
.icon{
  font-size: 64px;
  width: 68px;
  height: 71px;
  color: green;
}

