

// .style{
//   margin: 20px 64px;


// }
// .catcard{
//   margin: 25px;
//   height: 500px;
//   width: 315px;
// }

@import "../../styles.scss";
.style{
  margin: 20px 64px;


}
.catcard{
  margin: 25px;
  height: 500px;
  // width: 315px;
  width: 338px;
  padding-left: 22px;
}
